[Unit]
Description=Prometheus Mysqld Exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/Prometheus/Exporter/mysqld_exporter -config.my-cnf=/etc/prometheus/.my.cnf
User=prometheus
UMask=0027

[Install]
WantedBy=multi-user.target
Alias=mysqld_exporter.service
